{% comment %} <div style="text-align:center">
<h2 style="text-align:center;color:black;font-size:medium;background-color:#e3f2fd;border-color:black" class="btn btn-warning"><b>{{symbol}}</b></h2>
</div>    {% endcomment %}

<div style="text-align:center">
Date:
{% for record in OITotalValue %}
<h2 style="text-align:center;color:white;font-size:medium;" class="btn btn-success"> <b>{{dateToday}}</b> </h2>
Expiry:
<h2 style="text-align:center;color:black;font-size:medium;" class="btn btn-warning"> <b>{{record.expiry}}</b> </h2>
Symbol:
<h2 style="text-align:center;color:black;font-size:medium;background-color:#e3f2fd;border-color:black" class="btn btn-warning"><b>{{symbol}}</b></h2>
Gap: 
<h2 style="text-align:center;color:black;b-color:pink;font-size:medium;" class="btn alert-warning"><b>({{record.strikegap}})</b>
{% endfor %}
</div>              
            {% for value in liveEqui %}
            <nav aria-label="breadcrumb">

              <ol class="breadcrumb">

                <li class="breadcrumb-item">
                {% comment %} <button type="submit" class="btn btn-warning"><b>{{ key }}</b></button> {% endcomment %}
                {% comment %} <button type="submit" id="button_1" class="btn btn-warning" value="Manoj"><b>{{ key }}</b></button> {% endcomment %}
                <button id="1" name="1" class="btn btn-warning" value="{{ value.symbol }}">{{ value.symbol }}</button>
                {% comment %} <span class="badge badge-warning"></span> {% endcomment %}
                
                </li>
                <li class="breadcrumb-item">
                <div class="div-container">
                  <span class="top" style="text-align:center"><b>Open</b></span>
                  <span class="bottom">{{ value.open }}</span>
                </div>
                </li>
                <li class="breadcrumb-item">
                <div class="div-container">
                  <span class="top" style="text-align:center"><b>High</b></span>
                  <span class="bottom">{{ value.high }}</span>
                </div>
                </li>
                <li class="breadcrumb-item">
                <div class="div-container">
                  <span class="top" style="text-align:center"><b>Low</b></span>
                  <span class="bottom">{{ value.low }}</span>
                </div>
                </li>
                <li class="breadcrumb-item">
                <div class="div-container">
                  <span class="top" style="text-align:center"><b>Pr_close</b></span>
                  <span class="bottom">{{ value.prev_day_close }}</span>
                </div>
                </li>
                <li class="breadcrumb-item">
                <div class="div-container">
                  <span class="top" style="text-align:center"><b>Ltp</b></span>
                  <span class="bottom">{{ value.ltp }}</span>
                </div>
                </li>

                <li class="breadcrumb-item">
                <div class="div-container">
                  <span class="top" style="text-align:center"><b class="badge badge-info">Time</b></span>
                  <span class="bottom">{{ value.time }}</span>
                </div>
                </li>

              </ol>
            </nav>

            {% endfor %}

<div class="row">

    <div class="col-sm-4">
      <table id="manoj" style="font-size:14px">
          <thead>
              <tr>
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change % OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
          </thead>
          <tbody>
                      <tbody>

                      {% for record in LiveChangePercentOI %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}</b></td>
                          <td style="width:2%;background-color:#218543;color:white"><b>{{ record.call1 }}<b></td>
                          {% if record.call1 > record.put2 %}
                          <td style="width:4%;text-align:center"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% endif %}
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          {% if record.call1 < record.put2 %}
                          <td style="width:4%;text-align:center"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.putstrike }}</b><span style="color:red">  <b>putt</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"><b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span></td>
                          {% endif %}
                          <td style="width:2%;background-color:#973834;color:white"><b>{{ record.put2 }}</b></td>
                        </tr>

                      {% endfor %}
                      </tbody>
          </tbody>
            
      </table>
  </div>

    <div class="col-sm-4">
      <table id="manoj" style="font-size:14px">
          <thead>
              <tr>
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change in OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
          </thead>
          <tbody>
                      <tbody>

                      {% for record in OIChangeValue %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}</b></td>
                          <td style="width:2%;background-color:#218543;color:white"><b>{{ record.call1 }}<b></td>
                          {% if record.call1 > record.put2 %}
                          <td style="width:4%;text-align:center"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% endif %}

                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          {% if record.call1 < record.put2 %}
                          <td style="width:4%;text-align:center"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"><b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span></td>
                          {% endif %}
                          <td style="width:2%;background-color:#973834;color:white"><b>{{ record.put2 }}</b></td>
                        </tr>

                      {% endfor %}
                      </tbody>
          </tbody>
            
      </table>
  </div>

  <div class="col-sm-4">
      <table id="manoj" style="font-size:14px">
          <thead>
              <tr>
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Total OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
          </thead>
          <tbody>
                      <tbody>

                      {% for record in OITotalValue %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%;background-color:#218543;color:white"><b>{{ record.call1 }}<b></td>
                          {% comment %} <td style="width:2%;text-align:center"> <i class="fas fa-dot-circle xxx-small;color:blue"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td> {% endcomment %}
                          {% if record.call1 > record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% endif %}
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          {% if record.call1 < record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"><b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span></td>
                          {% endif %}
                          
                          <td style="width:2%;background-color:#973834;color:white"><b>{{ record.put2 }}</b></td>
                        </tr>

                      {% endfor %}
                      </tbody>
          </tbody>
            
      </table>
  </div>

</div>




<div style="margin-top:15px"></div>
<div class="row">

<div class="col-sm-4">

  {% if HistoryOIChg|length == 0 %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>No data!</strong> No History found for this symbol, Try other symbols.
  </div>

  {% else %}
  <div class="fixTableHeadHistory">
    <table class="table-striped">
      <thead>
        <tr class="header">
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change % OI</b></td>
              </tr>

              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>

              </tr>

      </thead>
  
      <tbody>
                      {% for record in HistoryOIPercentChg %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:5%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          {% if record.call1 > record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% endif %}
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          {% if record.call1 < record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"><b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span></td>
                          {% endif %}
                          
                          <td style="width:2%;background-color:#973834;color:white"><b>{{ record.put2 }}</b></td>
                        </tr>

                        {% comment %} <tr style="background-color: black;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr> {% endcomment %}


                      {% endfor %}
      </tbody>
        
    </table>
  </div>
  {% endif %}
  
</div>

<div class="col-sm-4">

  {% if HistoryOIChg|length == 0 %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>No data!</strong> No History found for this symbol, Try other symbols.
  </div>

  {% else %}
  <div class="fixTableHeadHistory">
    <table class="table-striped">
      <thead>
        <tr class="header">
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change in OI</b></td>
              </tr>

              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>

              </tr>

      </thead>
  
      <tbody>
                      {% for record in HistoryOIChg %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:5%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          {% if record.call1 > record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% endif %}
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          {% if record.call1 < record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"><b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span></td>
                          {% endif %}
                          
                          <td style="width:2%;background-color:#973834;color:white"><b>{{ record.put2 }}</b></td>
                        </tr>

                        {% comment %} <tr style="background-color: black;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr> {% endcomment %}


                      {% endfor %}
      </tbody>
        
    </table>
  </div>
  {% endif %}
  
</div>

<div class="col-sm-4">
    {% if HistoryOITot|length == 0 %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>No data!</strong> No History found for this symbol, Try other symbols.
    </div>
    {% else %}

  <div class="fixTableHeadHistory">
    <table class="table-striped">
      <thead>
        <tr class="header">
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Total OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
      </thead>
  
      <tbody>
                      {% for record in HistoryOITot %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          {% if record.call1 > record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"> <b>{{ record.callstrike }}</b><span style="color:green">  <b>call</b></span> </td>
                          {% endif %}
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          {% if record.call1 < record.put2 %}
                          <td style="width:4%"><i class="fas fa-dot-circle xx-small;color:blue" style"font-size:xx-small"></i> <b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span> </td>
                          {% else %}
                          <td style="width:4%;text-align:center"><b>{{ record.putstrike }}</b><span style="color:red">  <b>put</b></span></td>
                          {% endif %}
                          
                          <td style="width:2%;background-color:#973834;color:white"><b>{{ record.put2 }}</b></td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>

                      {% endfor %}
      </tbody>
        
    </table>
  </div>

  {% endif %}
</div>

</div>

