
<div style="text-align:center">
<h2 style="text-align:center;color:black;font-size:medium;" class="btn btn-warning">{{symbol}} </h2>
</div>
<div class="row">
  <div class="col-sm-6">
      <table id="manoj" style="font-size:14px">
          <thead>
              <tr>
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Total OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
          </thead>
          <tbody>
                      <tbody>

                      {% for record in OITotalValue %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          <td style="width:2%;text-align:center"><b>{{ record.callstrike }}</b></td>
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          <td style="width:2%;text-align:center"><b>{{ record.putstrike }}</b></td>
                          <td style="width:2%;background-color:red"><b>{{ record.put2 }}</b></td>
                        </tr>

                      {% endfor %}
                      </tbody>
          </tbody>
            
      </table>
  </div>
    <div class="col-sm-6">
      <table id="manoj" style="font-size:14px">
          <thead>
              <tr>
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change in OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
          </thead>
          <tbody>
                      <tbody>

                      {% for record in OIChangeValue %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}</b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          <td style="width:2%;text-align:center"><b>{{ record.callstrike }}</b></td>
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          <td style="width:2%;text-align:center"><b>{{ record.putstrike }}</b></td>
                          <td style="width:2%;background-color:red"><b>{{ record.put2 }}</b></td>
                        </tr>

                      {% endfor %}
                      </tbody>
          </tbody>
            
      </table>
  </div>
</div>




<div style="margin-top:15px"></div>
<div class="row">
  <div class="col-sm-6">
    {% if HistoryOITot|length == 0 %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>No data!</strong> No History found for this symbol, Try other symbols.
    </div>
    {% else %}

  <div class="fixTableHeadHistory">
    <table class="table-striped">
      <thead>
        <tr class="header">
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Total OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
      </thead>
  
      <tbody>
                      {% for record in HistoryOITot %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:2%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          <td style="width:2%;text-align:center"><b>{{ record.callstrike }}</b></td>
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          <td style="width:2%;text-align:center"><b>{{ record.putstrike }}</b></td>
                          <td style="width:2%;background-color:red"><b>{{ record.put2 }}</b></td>
                        </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>

                      {% endfor %}
      </tbody>
        
    </table>
  </div>

  {% endif %}

      {% comment %} <table id="manoj" style="font-size:14px">
          <thead>
              <tr>
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Total OI</b></td>
              </tr>
              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>
              </tr>
          </thead>
          <tbody>
                      <tbody>

                      {% for record in HistoryOITot %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          {% comment %} <td rowspan=2 style="width:2%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          <td style="width:2%;text-align:center"><b>{{ record.callstrike }}</b></td>
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr> {% endcomment %}
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          {% comment %} <td style="width:2%">{{ record.call2 }}</td>
                          <td style="width:2%;text-align:center"><b>{{ record.putstrike }}</b></td>
                          <td style="width:2%;background-color:red"><b>{{ record.put2 }}</b></td>
                        </tr>

                      {% endfor %}
                      </tbody>
          </tbody>
            
      </table> {% endcomment %}
</div>

<div class="col-sm-6">

  {% if HistoryOIChg|length == 0 %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>No data!</strong> No History found for this symbol, Try other symbols.
  </div>

  {% else %}
  <div class="fixTableHeadHistory">
    <table class="table-striped">
      <thead>
        <tr class="header">
              <tr>
                  <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change in OI</b></td>
              </tr>

              <th><span>TIME</span></th>
              <th><span>CALL</span></th>
              <th><span>STRIKE</span></th>
              <th><span>PUT</span></th>

              </tr>

      </thead>
  
      <tbody>
                      {% for record in HistoryOIChg %}

                        <tr>
                        {% comment %} colspan=2 {% endcomment %}
                          <td rowspan=2 style="width:5%"><b>{{ record.time|time }}<b></td>
                          <td style="width:2%" class="bg-success"><b>{{ record.call1 }}<b></td>
                          <td style="width:2%;text-align:center"><b>{{ record.callstrike }}</b></td>
                          <td style="width:2%">{{ record.put1 }}</td>
                        </tr>
                        <tr>
                          {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                          <td style="width:2%">{{ record.call2 }}</td>
                          <td style="width:2%;text-align:center"><b>{{ record.putstrike }}</b></td>
                          <td style="width:2%;background-color:red"><b>{{ record.put2 }}</b></td>
                        </tr>

                        {% comment %} <tr style="background-color: black;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr> {% endcomment %}


                      {% endfor %}
      </tbody>
        
    </table>
  </div>
  {% endif %}
  
  </div>
</div>

