
{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 22%;
  margin-left:2%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid black;
  overflow-y: scroll;
  {% comment %} overflow-x: hidden; {% endcomment %}
  {% comment %} width: 800px; {% endcomment %}
}

th{
  background-color: white;
  color: black;
  text-align: left;
  border: solid thin;
  font-size:smaller;
  padding-left: 20px;
  padding-right: 20px;

}

.table-scroll {
  height:250px;
  overflow:auto;
  {% comment %} margin-top:20px; {% endcomment %}
}

tr{background-color: #ece8c7;border: solid thin;}
td{border: solid thin;}

.column.new {
    margin-left: 18%;
}

/* Fix table head */
.tableFixHead    { overflow: auto; height: 100px; }
.tableFixHead th { position: sticky; top: 0; }


.table-wrap {
  height: 200px;
  overflow-y: scroll;
  display: inline-block;
}

.sectionClass {
  position: relative;
  border: 1px solid #000;
  padding-top: 23px;
  background:transparent;
}

.sectionClass.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.containerclass {
  overflow-y: auto;
  height: 160px;
  width:208%;
}
.table-name {
  border-spacing: 0;
  width:100%;
}

.tableData + .tableData {
  border-left:1px solid #eee;
}

.tableData, .headingClass {
  border-bottom:1px solid #eee;
  background: #ddd;
  color: #000;
  padding: 10px 25px;
}
.headingClass {
  height: 10;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
.headingClass div{
  position: absolute;
  background: white;
  color: black;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: 6px;
  border-left: 1px solid #800;
}
.headingClass:first-child div{
  border: none;
}
{% comment %} /* Just common table stuff. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; } {% endcomment %}


</style>
</head>
<body>

<h4 style="text-align:center;color:white;font-size:medium">Strike Gap:<b>{{strikeGap}}</b></h4>

<div class="row">

<div class="column">
  {% comment %} <h2 style="text-align:center;color:white;font-size:medium">Change in OI</h2> {% endcomment %}
    <table>
    <thead>
        <tr>
        <tr>
            <td colspan=4 style="width:10%;text-align:center;background-color: grey"><b>Change in OI</b></td>
        </tr>
        <th><span>TIME</span></th>
        <th><span>CALL</span></th>
        <th><span>STRIKE</span></th>
        <th><span>PUT</span></th>
        </tr>
    </thead>
    <tbody>
                <tbody>

                  <tr>
                  {% comment %} colspan=2 {% endcomment %}
                    <td rowspan=2 style="width:2%">{{ OIChangeValue.celtt|time }}</td>
                    <td style="width:2%" class="bg-success"><b>{{ OIChangeValue.ceoi1 }}<b></td>
                    <td style="width:2%;text-align:center"><b>{{ OIChangeValue.cestrike }}</b></td>
                    <td style="width:2%">{{ OIChangeValue.peoi1 }}</td>
                  </tr>
                  <tr>
                    {% comment %} <td style="width:2%">{{ OIChangeValue.peltt|time }}</td> {% endcomment %}
                    <td style="width:2%">{{ OIChangeValue.ceoi2 }}</td>
                    <td style="width:2%;text-align:center"><b>{{ OIChangeValue.pestrike }}</b></td>
                    <td style="width:2%;background-color:red"><b>{{ OIChangeValue.peoi2 }}</b></td>
                  </tr>

                </tbody>
    </tbody>
      
    </table>
</div>

<div class="column">
  {% comment %} <h2 style="text-align:center;color:white;font-size:medium"> Total OI</h2> {% endcomment %}
    <table>
      <thead>
                  <tr>
                    <td colspan=4 style="width:10%;text-align:center;background-color:grey"><b>Total OI</b></td>
                  </tr>
                  <tr>
                    <th><span>TIME</span></th>
                    <th><span>CALL</span></th>
                    <th><span>STRIKE</span></th>
                    <th><span>PUT</span></th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td rowspan=2 style="width:10%">{{ OITotalValue.celtt|time }}</td>
                    <td style="width:10%" class="bg-success"><b>{{ OITotalValue.ceoi1 }}</b></td>
                    <td style="width:10%;text-align:center"><b>{{ OITotalValue.cestrike }}</b></td>
                    <td style="width:10%">{{ OITotalValue.peoi1 }}</td>
                  </tr>
                  <tr>
                    {% comment %} <td style="width:10%">{{ OITotalValue.peltt|time }}</td> {% endcomment %}
                    <td style="width:10%">{{ OITotalValue.ceoi2 }}</td>
                    <td style="width:10%;text-align:center"><b>{{ OITotalValue.pestrike }}</b></td>
                    <td style="width:2%;background-color:red"><b>{{ OITotalValue.peoi2 }}</b></td>
                  </tr>

                </tbody>
    </table>
</div>


<div class="column">
<h2 style="text-align:center;color:white;font-size:medium" class="badge bg-primary text-wrap">Call (1%)</h2>
<section class="sectionClass">
  <div class="containerclass">
  
    <table class="table-name" id="tableId">
      <thead>
        <tr class="header">
          <th class="headingClass"><div>SYMBOL</div> SYMBOL</th>
          <th class="headingClass"><div>OPEN</div>OPEN</th>
          <th class="headingClass"><div>HIGH</div>HIGH</th>
          <th class="headingClass"><div>LOW</div>LOW</th>
          <th class="headingClass"><div>PR_CLOSE</div>PREV_DAY_CLOSE</th>
          <th class="headingClass"><div>LTP</div>LTP</th>
        </tr>
      </thead>
      
      
      <tbody>

                      

                        {% for key,value in callOnePercent.items %}

                                <tr>
                                  <td style="width:10%;font-size:large"> {{ key }}</td>
                                      <td style="width:2%" class="bg-success"><b>{{ value.1 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.2 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.3 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.4 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.0 }}<b></td>

                                </tr>

                              {% endfor %}  
      </tbody>
    </table>
  </div>
</section>


    {% comment %} <div class="wrap">
            <table>
                  <thead>
                      <tr>
                      <tr>
                      <td colspan=6 style="width:10%;text-align:center;background-color: grey"><b>Call (1%)</b></td>
                      </tr>
                      <th><span>SYMBOL</span></th>
                      <th><span>OPEN</span></th>
                      <th><span>HIGH</span></th>
                      <th><span>LOW</span></th>
                      <th><span>PREV_DAY_CLOSE</span></th>
                      <th><span>LTP</span></th>
                      </tr>
                  </thead>
              </table>
    </div> {% endcomment %}
{% comment %}     
    <div class="table-wrap">    
            <table>
            <tbody>

                              {% for key,value in callOnePercent.items %}

                                <tr>
    
                                  <td style="width:10%">{{ key }}</td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.3 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.0 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.1 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.2 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.4 }}<b></td>

                                </tr>

                              {% endfor %}

                              </tbody>
                              </table>
  </div> {% endcomment %}
</div> 



</div>


<div class="row">
  <div class="column">

  <div class="table-scroll">
  {% comment %} <h2 style="text-align:center;color:white;font-size:medium">Change in OI</h2> {% endcomment %}
    <table>
    <thead>
        <tr>
        <th><span>TIME</span></th>
        <th><span>CALL</span></th>
        <th><span>STRIKE</span></th>
        <th><span>PUT</span></th>
        </tr>
    </thead>
    <tbody>
                <tbody>

                {% for OIChangeValue in value1 %}

                  <tr>
                  {% comment %} colspan=2 {% endcomment %}
                    <td rowspan=2 style="width:10%">{{ OIChangeValue.time|time }}</td>
                    <td style="width:2%" class="bg-success"><b>{{ OIChangeValue.call1 }}<b></td>
                    <td style="width:2%;text-align:center"><b>{{ OIChangeValue.callstrike }}</b></td>
                    <td style="width:2%">{{ OIChangeValue.put1 }}</td>
                  </tr>
                  <tr>
                    <td style="width:2%">{{ OIChangeValue.call2 }}</td>
                    <td style="width:2%;text-align:center"><b>{{ OIChangeValue.putstrike }}</b></td>
                    <td style="width:2%;background-color:red"><b>{{ OIChangeValue.put2 }}</b></td>
                  </tr>

                {% endfor %}

                </tbody>
    </tbody>
      
    </table>
  </div>

  </div>

  <div class="column">

  <div class="table-scroll">
  {% comment %} <h2 style="text-align:center;color:white;font-size:medium">Change in OI</h2> {% endcomment %}
    <table>
    <thead>
        <tr>
        <th><span>TIME</span></th>
        <th><span>CALL</span></th>
        <th><span>STRIKE</span></th>
        <th><span>PUT</span></th>
        </tr>
    </thead>
    <tbody>
                <tbody>
                {% for OIChangeValue in value2 %}
                
                  <tr>
                  {% comment %} colspan=2 {% endcomment %}
                    <td rowspan=2 style="width:10%">{{ OIChangeValue.time|time }}</td>
                    <td style="width:2%" class="bg-success"><b>{{ OIChangeValue.call1 }}<b></td>
                    <td style="width:2%;text-align:center"><b>{{ OIChangeValue.callstrike }}</b></td>
                    <td style="width:2%">{{ OIChangeValue.put1 }}</td>
                  </tr>
                  <tr>
                    <td style="width:2%">{{ OIChangeValue.call2 }}</td>
                    <td style="width:2%;text-align:center"><b>{{ OIChangeValue.putstrike }}</b></td>
                    <td style="width:2%;background-color:red"><b>{{ OIChangeValue.put2 }}</b></td>
                  </tr>

                {% endfor %}

                </tbody>
    </tbody>
      
    </table>
  </div>

  </div>

<div class="column">
<h2 style="text-align:center;color:white;font-size:medium" class="badge bg-primary text-wrap">Put (1%)</h2>
<section class="sectionClass">
  <div class="containerclass">
  
    <table class="table-name">
      <thead>
        <tr class="header">
          <th class="headingClass"><div>SYMBOL</div> SYMBOL</th>
          <th class="headingClass"><div>OPEN</div>OPEN</th>
          <th class="headingClass"><div>HIGH</div>HIGH</th>
          <th class="headingClass"><div>LOW</div>LOW</th>
          <th class="headingClass"><div>PR_CLOSE</div>PREV_DAY_CLOSE</th>
          <th class="headingClass"><div>LTP</div>LTP</th>
        </tr>
      </thead>
      
      
      <tbody>
                              {% for key,value in putOnePercent.items %}

                                <tr>
                                {% comment %} colspan=2 {% endcomment %}
                                  <td style="width:10%">{{ key }}</td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.1 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.2 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.3 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.4 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.0 }}<b></td>
                                  {% comment %} <td style="width:2%;text-align:center"><b>{{ value[1] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[2] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[3] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[4] }}</b></td> {% endcomment %}
                                </tr>

                              {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</div> 

</div>


<div class="row">



<div class="column">

<h2 style="text-align:center;color:white;font-size:medium" class="badge bg-primary text-wrap">Call Crossed</h2>
<section class="sectionClass">

  <div class="containerclass">
  
    <table class="table-name">
      <thead>
        <tr class="header">
          <th class="headingClass"><div>SYMBOL</div> SYMBOL</th>
          <th class="headingClass"><div>OPEN</div>OPEN</th>
          <th class="headingClass"><div>HIGH</div>HIGH</th>
          <th class="headingClass"><div>LOW</div>LOW</th>
          <th class="headingClass"><div>PR_CLOSE</div>PREV_DAY_CLOSE</th>
          <th class="headingClass"><div>LTP</div>LTP</th>
        </tr>
      </thead>
      
      
      <tbody>
                              {% for key,value in callCrossed.items %}

                                <tr>
                                {% comment %} colspan=2 {% endcomment %}
                                  <td style="width:10%">{{ key }}</td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.1 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.2 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.3 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.4 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.0 }}<b></td>
                                  {% comment %} <td style="width:2%;text-align:center"><b>{{ value[1] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[2] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[3] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[4] }}</b></td> {% endcomment %}
                                </tr>

                              {% endfor %}
      </tbody>
    </table>
  </div>
</section>

</div> 



<div class="column">
<div class="moving" style="margin-left: 321px;width: 100%;"> 
<h2 style="text-align:center;color:white;font-size:medium" class="badge bg-primary text-wrap">Put Crossed</h2>
<section class="sectionClass">
  <div class="containerclass">
  
    <table class="table-name">
      <thead>
        <tr class="header">
          <th class="headingClass"><div>SYMBOL</div> SYMBOL</th>
          <th class="headingClass"><div>OPEN</div>OPEN</th>
          <th class="headingClass"><div>HIGH</div>HIGH</th>
          <th class="headingClass"><div>LOW</div>LOW</th>
          <th class="headingClass"><div>PR_CLOSE</div>PREV_DAY_CLOSE</th>
          <th class="headingClass"><div>LTP</div>LTP</th>
        </tr>
      </thead>
      
      
      <tbody>
                              {% for key,value in putCrossed.items %}

                                <tr>
                                {% comment %} colspan=2 {% endcomment %}
                                  <td style="width:10%" id="A-id-selector">{{ key }}</td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.1 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.2 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.3 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.4 }}<b></td>
                                  <td style="width:2%" class="bg-success"><b>{{ value.0 }}<b></td>
                                  {% comment %} <td style="width:2%;text-align:center"><b>{{ value[1] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[2] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[3] }}</b></td>
                                  <td style="width:2%;text-align:center"><b>{{ value[4] }}</b></td> {% endcomment %}
                                </tr>

                              {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</div>
</div> 


  </div>







<script>

$("#table-name").on('click','tr',function() {
          var id = $(this).find("td:first-child").text();
          console.log(id);
          $(this).toggleClass("select");
$.ajax({
    url: '{% url 'selected_equity' %}',
    method: 'POST',
    data: { id : id },
    alert(id),
    success: function(result) {
      var jsondata = $.parseJSON(result);
       $("#name").val(jsondata.name);
       $("#uid").val(jsondata.id)
       $("#data").val(jsondata.date)
    }
  });



        });

$('#A-id-selector').click(function() {
    $.ajax({
        type:'POST', 
        url: 'target.url', 
        success: function(response) {
          alert("Clicked");
        }
    });
});


{% comment %} function addRowHandlers() {
    var table = document.getElementById("tableId");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
        var currentRow = table.rows[i];
        var createClickHandler = 
            function(row) 
            {
                return function() { 
                                        var cell = row.getElementsByTagName("td")[0];
                                        var id = cell.innerHTML;
                                        alert("id:" + id);
                                 };
            };

        currentRow.onclick = createClickHandler(currentRow);
    }
}
window.onload = addRowHandlers(); {% endcomment %}

</script>

</body>

</html>
